.form-control{
    border-radius: 0px !important;
    background-color: rgb(227, 230, 233) !important;
}
.dropdown-toggle{
    height: 50px !important;
    border-radius: 0px !important;
    background-color: rgb(227, 230, 233) !important;
}